body{ font-family: 'Roboto', sans-serif;
}
header{
    background-color: rgba(255, 255, 255, 0.097);
    z-index: 4;
    position: fixed;
    width: 100%;
}
ul li:nth-child(1){
    margin-left: 100px;
  }
ul li:nth-child(2){
  margin-left: 450px;
}
.carousel-caption{
    bottom: 200px;
    margin-top: -50px;
}
#card{
    margin-left: 100px;
}
#button{
    margin-top: -150px; 
    margin-left: 210px;
     position: absolute;
}
.card-text{
    font-size: 14px;
}
.none{
    width: 18rem;
}
#footer{
    background-color: rgba(128, 128, 128, 0.137);
    padding-top: 15px;
    padding-bottom: 30px;
}
#foot{
    margin-left: 120px;
}